@font-face {
    font-family: "klavika";
    src: url("./../fonts/klavika-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "klavika-light";
    src: url("./../fonts/klavika-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: klavika-light, sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #101010;
}
/*for the last page*/
a {
    color: #fff;
}

nav {
    margin: 32px 0;
}

nav a {
    text-decoration: none;
}

nav i {
    margin: 0 10px;
}
/*display none to switch between first and second screen*/
.display-none {
    display: none;
}
/*landing page*/
.landing-page {
    height: 100vh;
}
/*monk image*/
.landing-page-img {
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    margin-top: -125px;
    animation: move-up-down 1.5s linear infinite;
    position: absolute;
}
/*text container box*/
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}
/*text properties*/
.text-container div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-family: 'klavika-light';
    font-style: italic;
    font-weight: 300;
    color: white;
}
/*add animation to last div of text container*/
.text-container div:last-of-type span {
    margin-left:-355px;
    animation: slidein 2s 0.7s;
}
/*fadeout class for landing page*/
.fadeout {
    animation: fadeout 1s linear forwards;
}
/*for the next slide to fade in*/
.fadein {
    animation: fadein 2.5s;
}
/*for the last slide*/
.slidein {
    animation: slide-in 2s forwards;
}
/*add basic styling for the carousel page*/
.carousel-container {
    height: 100vh;
    min-height: 580px;
    margin: auto;
    background-image: url('./../img/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    transition: background-position 1s ease-in-out;
}
/*logo properties*/
.carousel-container .logo {
    position: absolute;
    right: 28px;
    bottom: 1px;
}
/*logo image properties*/
.carousel-container .logo img {
    width: 100px;
    height: auto;
    filter: invert(100%);
}

/*previous and next button property*/
.carousel-container .prev, .next {
    display: none;
    position: absolute;
    top: 38vh;
    text-align: center;
    color: #fff;
    cursor: pointer;
    width: 90px;
    transition: .1s linear;
    -webkit-transition: .1s linear;
    margin-left: 15px;
}

.next {
    display: block;
    right: 0px;
}

.prev::before, .next::before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 33px;
    width: 33px;
}

.prev::before {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.next::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 15px;
}

.prev:hover, .next:hover {
    opacity: 0.5;
}

.prev:hover {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
}

.next:hover {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
}
/*content within each slide styles*/
.carousel-container .slide .content {
    color: #fff;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    margin-top: -100px;
    top: 48vh;
    left: 90px;
    width: 550px;
}
/*initial slide container unless active class exists*/
.slide {
    display: none;
}

.carousel-container .slide .content h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
    display: inline;
}

.carousel-container .slide:first-of-type .content,
.carousel-container .slide:last-of-type .content {
    margin: 0;
    top: 10px;
}

.carousel-container .slide:first-of-type .content {
    left: 30px;
}

.carousel-container .slide:nth-child(n+4):nth-child(-n+6) .content,
.carousel-container .slide:nth-child(10) .content {
    left: auto;
    right: 90px;
    text-align: right;
}

.carousel-container .slide:nth-child(6) .content {
    top:40vh;
}

.carousel-container .slide:last-of-type .content {
    right: 30px;
}

.carousel-container .slide .counter {
    color: #f2f2f2;
    font-weight: normal;
    font-size: 14px;
    text-shadow: 2px 1px #000;
    padding: 8px 12px;
    position: absolute;
    bottom: 24px;
    left: 300px;
    text-align: left;
}

.carousel-container .slide:first-of-type .counter {
    bottom: 100px;
    left: 16px;
}

.carousel-container .slide:last-of-type .counter {
    top: 39vh;
    right: 30px;
    bottom: auto;
    left: auto;
    text-align: right;
}
/*class to be added when arrow clicked*/
.active {
    display: block;
}

/*table styling as the dots container*/
table {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted white;
    border-collapse: collapse;
}

td {
    display: table-cell;
}
/*dots styling*/
.dot {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: -3px 3px 0 3px;
    font-size: 15px;
    color: #fff;
    display: inline-block;
}

.active-dot {
    background-color: #fff;
}

.dot:hover {
    color: #717171;
    transition: color 0.2s ease;
}

.active-dot:hover {
    color: #fff;
}
/*change content sizes according to mobile screen*/
@media only screen and (max-width: 571px) {
    .carousel-container .slide .content {
        max-width: 200px;
    }
    .carousel-container .slide .content h1 {
        font-size: 20px;
    }
    .carousel-container .slide {
        text-align: center;
    }
    table {
        bottom: 120px;
        left: 50%;
        transform: translate(-50%);
    }
    .carousel-container .slide:first-of-type .counter {
        bottom: 200px;
        width: 90%;
        left: 0px;
    }
    .carousel-container .slide:last-of-type .counter {
        width: 90%;
    }
    .carousel-container .slide .counter {
        width: 100%;
        bottom: 85px;
        left: 20px;
    }
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
/*for the text to slide in*/
@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

/*for the monk to move up and down*/
@keyframes move-up-down {
    0%, 100% { top: 47%; }
    50% { top: 50%; }
}
/*for the landing page to fadeout*/
@keyframes fadeout {
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
/*for the carousel to fade in*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slide-in {
    0% {transform: translateX(100%);}
}
.zoom-in {
    animation: zoomin 0.1s;
    -webkit-animation: zoomin 0.1s;
}
/*for giving the zoomedin effect to the dots when active*/
@keyframes zoomin {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
